<div class="header-wrapper">
  <div class="header">
    <a class="header__logo" target="blank" href="https://www.tindin.com.br/">
      <i class="tindin-pig-image logo__pig"></i>
      <i class="tindin-logo-image logo__brand"></i>
    </a>

    <div class="search-bar">
      <input type="text" class="search-bar__input" placeholder="Search for games">
      <button class="search-bar__button">
        Search
      </button>
    </div>

    <div class="header__user">
      <i class="person-outline-icon header__icon"></i>
    </div>
  </div>
</div>
