.person-outline-icon {
  background: url('../assets/icons/person_outline.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.triangle-fill-icon {
  background: url('../assets/icons/triangle_fill.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.facebook-fill-icon {
  background: url('../assets/icons/facebook_fill.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.twitter-fill-icon {
  background: url('../assets/icons/twitter_fill.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.google-plus-fill-icon {
  background: url('../assets/icons/google_plus_fill.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.youtube-old-icon {
  background: url('../assets/icons/youtube_old.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.instagram-outline-icon {
  background: url('../assets/icons/instagram_outline.svg') no-repeat center;
  background-size: contain;
  display: block;
}
