.person-outline-icon {
  background: url('../assets/icons/person_outline.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.triangle-fill-icon {
  background: url('../assets/icons/triangle_fill.svg') no-repeat center;
  background-size: contain;
  display: block;
}
