.tindin-logo-image {
  background: url('../assets/images/tindin_logo.svg') no-repeat center;
  background-size: contain;
  display: block;
}

.tindin-pig-image {
  background: url('../assets/images/tindin_pig.svg') no-repeat center;
  background-size: contain;
  display: block;
}
