.rotten-joysticks {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;

  --grey: #4d4d4d;

  /* LIGHT THEME VARIABLES */
  --main-color: #fb4442;
  --contrast-color: #ffffff;
  --background-color: #302c2e;
  --fore-background-color: #adadad;
  --darker-color: #151515;
  --box-shadow: black;
  --gold-color: #f5c518;
  --white-color: var(--box-shadow);

  --highlight-filter: brightness(1.2);

  --filter-contrast-color: invert(100%) sepia(1%) saturate(1378%) hue-rotate(98deg) brightness(114%) contrast(100%);
  --filter-main-color: invert(35%) sepia(27%) saturate(5190%) hue-rotate(338deg) brightness(106%) contrast(98%);

  --cubic-bezier: cubic-bezier(.83,.02,.65,1.2);

  background: var(--background-color);
}

.rotten-joysticks__body {
  max-width: 1230px;
  min-width: 1230px;
  padding: 40px 0;
  margin: 0 auto auto auto;
}
